# Required Environments
POSTGRES_PASSWORD=test123
POSTGRES_USER=ergo
POSTGRES_DB=db
POSTGRES_PORT=5432

# Optional Environments
API_KEY_HASH=
MNEMONIC=
TSS_SECRET=
KOIOS_AUTH_TOKEN=
BLOCKFROST_PROJECT_ID=
OVERRIDE_LOKI_BASIC_AUTH=
DISCORD_WEBHOOK_URL=
GUARD_PORT=
GUARD_IMAGE_VERSION=april-update
UI_IMAGE_VERSION=dev
